In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Base de datos colegios.xlsx - Colegios.csv')
# df

In [4]:
work = df.copy()
work.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48669 entries, 0 to 48668
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nombre         48657 non-null  object
 1   Direccion      47289 non-null  object
 2   Ciudad         48608 non-null  object
 3   Estado         48669 non-null  object
 4   Codigo postal  48669 non-null  int64
 5   Pais           48669 non-null  object
 6   Telefono       48668 non-null  object
 7   Fax            18734 non-null  object
 8   Email          40201 non-null  object
 9   Sitio web      24706 non-null  object
 10  Categoria      48669 non-null  object
dtypes: int64(1), object(10)
memory usage: 4.1+ MB

Borrar solo las que no tengan ni email ni telefono!!

In [5]:
# Nos deshacemos de aquellos que no tienen Email
work = work.dropna(subset=['Email'])
work = work.dropna(subset=['Telefono'])

# Nos deshacemos de la columna FAX
work = work.drop(['Fax', 'Pais'], axis=1)

# Separmos la última columna en Categoría y Tipo
new_columns = work["Categoria"].str.split('|', expand=True)
new_columns.columns = ['Categoria', 'Tipo']

# Eliminamos la columna 'Categoría' y Concatenamos df's
work = work.drop(['Categoria'], axis=1)
work = pd.concat([work, new_columns], axis=1)

# Reset
work.reset_index(drop = True, inplace=True)

### Columna Tipo

In [6]:
work['Tipo'].nunique(), len(work)

(165, 40200)

In [7]:
# 1/
list_of_types = ['Danza', 'Múisca', 'Adultas', 'Universidades', 'Conservatorio', 'Profesional', 'Superior', 
'Festivales', 'Hostelería', 'Enseñanza', 'Academias']
# Tenemos que deshacernos de todas aquellas Academías, etc (Centros educaivos no relativos a nuestros intereses)
list_of_erase_values = []
for palabra in list_of_types:
    for index, registro in enumerate(work['Categoria']):
        if palabra in registro:
            list_of_erase_values.append(index)
        
print(len(list_of_erase_values))
# 2/
work.drop(work.index[list_of_erase_values], inplace = True )
# 3/
work.reset_index(drop = True, inplace=True)

3932

In [8]:
work['Tipo'].nunique(), len(work)

(134, 36472)

In [9]:
# Segunda Manera de hacerlo
DF1 = work[work.Tipo.str.contains(
    'Conservatorio|Múisca|Adultas|Universidades|Profesional|Superior|Festivales|Hostelería|Enseñanza|Academias'
, na=False)]
len(DF1)

1142

In [10]:
# carrying out anti join using merge method
df3 = work.merge(DF1, on='Nombre', how='left', indicator=True)
  
df = df3.loc[df3['_merge'] == 'left_only', 'Nombre']
  
work_1 = work[work['Nombre'].isin(df)]

### Siguiente Columna (Categoría)

In [11]:
work_1['Tipo'].nunique(), len(work_1)

(89, 34914)

In [12]:
# 1/
list_of_categories = ['Academias', 'Universidades', 'Adultos', 'Profesores', 'Psicología ', 'Profesional', 'terapeutas', 
'Adultos', 'Organizaciones', 'Autoescuelas','Artes', 'ACADEMIAS', 'Terapias', 'Obras', 'Superiores', 'Organismos', 
'Deportes', 'profesional', 'Acupunt', 'Aeródromos', 'UNED''Universitario', 'Traducciones', 'Agencias', 'musical', 
'Formación', 'orientación', 'Fiestas', 'Música', 'Heraldica', 'Fotografia', 'Pilotos', 'Informática', 'Deportiva', 'Idiomas', 'Literatura', 'rehabilitación', 'ESTETICA', 
'Higiene', 'Canina', 'Fundaciones']
# Tenemos que deshacernos de todas aquellas Academías, etc (Centros educaivos no relativos a nuestros intereses)
list_of_erase_values = []
for palabras in list_of_categories:
    for index, registro in enumerate(work_1['Categoria']):
        if palabras in registro:
            list_of_erase_values.append(index)
print(len(list_of_erase_values))
# 2/
work_1.drop(work_1.index[list_of_erase_values], inplace = True )
# 3/
work_1.reset_index(drop = True, inplace=True)

3628

c:\Users\Usuario\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [13]:
work['Categoria'].nunique(), len(work)

(298, 36472)

In [14]:
# Segunda Manera de hacerlo
DF2 = work_1[work_1.Tipo.str.contains(
    'Academias|Universidades|Adultos|Profesores|Psicología|Profesional|terapeutas|Adultos|Organizaciones|Autoescuelas|Artes|ACADEMIAS|Terapias|Obras|Superiores|Organismos|Deportes|profesional|Acupunt|Aeródromos|UNED|Universitario|Traducciones|Agencias|musical|Formación'
, na=False)]

# carrying out anti join using merge method
df2 = work_1.merge(DF2, on='Nombre', how='left', indicator=True)
  
df = df2.loc[df2['_merge'] == 'left_only', 'Nombre']
  
work_2 = work_1[work_1['Nombre'].isin(df)]

In [15]:
work_2['Categoria'].nunique(), len(work_2)

(205, 31782)

### Limpia de Datos po Comunidad

In [16]:
work_2.head(3)

,Nombre,Direccion,Ciudad,Estado,Codigo postal,Telefono,Email,Sitio web,Categoria,Tipo
0,CO%EGI LESTONNAC L'ENSENYANÇA S.C.L.,"AVGDA PRAT DE LA RIBA, 38",LLEIDA,MADRID,28010,913081988,01lml@caminos.recol.es,NaN,COLEGIOS,None
1,CRUZ DE MAYO - EDUCACIÓN ESPECIAL,"Carretera Jaén, 4 02400 Hellín ALBACETE",Hellín,ALBACETE,2400,967301915,02003739.cee@edu.jccm.es,NaN,Centro de Educación Especial,None
2,ELOY CAMINO - EDUCACIÓN ESPECIAL,"Calle Jesús del Gran Poder, 3 02005 Albacete A...",Albacete,ALBACETE,2005,967214711,dire_eloyc@telefonica.net,cee-eloycamino.centros.castillalamancha.es/,Centro de Educación Especial,None

In [17]:
# Resumen Por Comunidad Autonoma
work_2.groupby('Estado').count().sort_values('Email',ascending=False)

,Nombre,Direccion,Ciudad,Codigo postal,Telefono,Email,Sitio web,Categoria,Tipo
Estado,,,,,,,,,
MADRID,5440,5389,5438,5442,5442,5442,2593,5442,749
VALENCIA,2978,2892,2962,2978,2978,2978,1182,2978,821
BARCELONA,2714,2652,2714,2714,2714,2714,2102,2714,67
ALICANTE,1678,1663,1677,1678,1678,1678,722,1678,551
SEVILLA,1098,1089,1099,1099,1099,1099,528,1099,225
ILLES BALEARS,885,862,885,885,885,885,354,885,357
MÁLAGA,868,859,869,870,870,870,447,870,163
MURCIA,816,792,805,816,816,816,466,816,22
BADAJOZ,757,694,757,757,757,757,414,757,280
CASTELLÓN,690,687,686,690,690,690,269,690,216
CÁDIZ,630,619,630,630,630,630,310,630,89
GRANADA,596,585,594,596,596,596,317,596,108
A CORUÑA,588,538,589,589,589,589,404,589,76
PONTEVEDRA,584,548,585,585,585,585,407,585,91
ASTURIAS,551,505,547,551,551,551,320,551,2
LAS PALMAS,550,537,548,550,550,550,294,550,43
ZARAGOZA,549,543,549,549,549,549,301,549,121
CÓRDOBA,524,508,521,524,524,524,223,524,109
BIZKAIA,518,511,519,519,519,519,294,519,106
STA CRUZ DE TENERIFE,503,462,503,503,503,503,241,503,6
ALMERIA,490,481,490,490,490,490,206,490,101
TOLEDO,467,439,467,467,467,467,173,467,66
NAVARRA,443,440,442,443,443,443,230,443,108
CÁCERES,433,428,433,433,433,433,285,433,189
GIRONA,432,425,431,432,432,432,327,432,12
TARRAGONA,432,422,431,432,432,432,332,432,10
CIUDAD REAL,423,415,423,423,423,423,152,423,44
JAÉN,409,406,409,409,409,409,197,409,75
GIPUZKOA,386,362,386,386,386,386,206,386,124
CANTABRIA,338,303,338,338,338,338,214,338,30
LLEIDA,336,331,336,336,336,336,260,336,7
VALLADOLID,332,331,332,332,332,332,222,332,45
HUELVA,317,313,317,317,317,317,151,317,65
LEON,296,280,295,296,296,296,200,296,48
ALBACETE,258,254,258,258,258,258,101,258,50
SALAMANCA,233,203,232,233,233,233,146,233,35
LA RIOJA,206,188,206,206,206,206,129,206,14
ARABA/ÁLAVA,193,193,193,193,193,193,86,193,51
HUESCA,190,187,190,190,190,190,89,190,50
BURGOS,189,189,189,189,189,189,138,189,33
LUGO,185,183,184,185,185,185,119,185,15
GUADALAJARA,180,161,179,180,180,180,78,180,22
OURENSE,179,175,179,179,179,179,118,179,16
CUENCA,155,147,152,155,155,155,37,155,18
ÁVILA,136,133,136,136,136,136,81,136,19
PALENCIA,115,107,115,115,115,115,69,115,19
TERUEL,113,112,113,113,113,113,47,113,43
ZAMORA,111,105,111,111,111,111,85,111,16
SEGOVIA,104,103,103,104,104,104,73,104,21
SORIA,72,72,71,72,72,72,40,72,16
MELILLA,40,40,40,40,40,40,33,40,18
SANTA CRUZ DE TENERIFE,35,35,35,35,35,35,17,35,35
CEUTA,28,28,28,28,28,28,17,28,0
ALICANTE/ALACANT,1,1,1,1,1,1,1,1,1

In [18]:
ver = work_2[work_2['Estado'] == 'MADRID'][['Tipo']]
ver['Tipo'].unique()

array([None, ' Centro Privado de Educación Infantil', ' Escuela Infantil',
       ' Colegio privado concertado', ' Centro Privado de Música o Danza',
       ' Escuela de Capacitación Agraria',
       ' Centro Privado de Educación\xa0 Especial',
       ' Centro Privado de Educación Secundaria',
       ' Centro Docente Privado Extranjero en España',
       ' Colegios privados',
       ' Escuela de Educación Infantil, Casa de Niños',
       ' Colegio con actividad extraescolar',
       ' Colegio de Educación Infantil y Primaria', ' Aula Hospitalaria',
       ' Escuela de Arte', ' Colegio educacion escuela infantil',
       ' Escuela Pública de Música', ' Escuela Pública de Música y Danza',
       ' Guardería infantil', ' Guarderías infantiles',
       ' Instituto de Educación Secundaria', ' Centro de enseñanza',
       ' Guarderia con ingles',
       ' Sección de Instituto de Educación Secundaria'], dtype=object)

### Segundo Enfoque

In [30]:
# newdata = df.copy()
# # Nos deshacemos de aquellos que no tienen Email
# newdata = newdata.dropna(subset=['Email'])
# newdata = newdata.dropna(subset=['Telefono'])

# # Nos deshacemos de la columna FAX
# newdata = newdata.drop(['Fax', 'Pais'], axis=1)

# # Separmos la última columna en Categoría y Tipo
# new_columns = newdata["Categoria"].str.split('|', expand=True)
# new_columns.columns = ['Categoria', 'Tipo']

# # Eliminamos la columna 'Categoría' y Concatenamos df's
# newdata = newdata.drop(['Categoria'], axis=1)
# newdata = pd.concat([newdata, new_columns], axis=1)

# # Reset
# newdata.reset_index(drop = True, inplace=True)

In [20]:
# Proceso a la Inversa 
newdata_1 = work_2[work_2.Tipo.str.contains(
    'Centro Privado de Educación Infantil|Escuela Infantil|Colegio privado concertado|Centro Privado de Educación\xa0 Especial|Centro Privado de Educación Secundaria|Centro Docente Privado Extranjero en España|Colegios privados|Escuela de Educación Infantil, Casa de Niños|Colegio con actividad extraescolar|Colegio de Educación Infantil y Primaria|Colegio educacion escuela infantil|Guardería infantil|Guarderías infantiles|Instituto de Educación Secundaria|Centro de enseñanza|Guarderia con ingles|Sección de Instituto de Educación Secundaria'
, na=False)]
newdata_1

,Nombre,Direccion,Ciudad,Estado,Codigo postal,Telefono,Email,Sitio web,Categoria,Tipo
3,MARÍA SEIQUER,"PS. LIBERTAD, 15",ELCHE DE LA SIERRA,ALBACETE,2430,967410024,ampaseiquer@yahoo.es,NaN,Centro Privado,Centro Privado de Educación Infantil
4,ADECA,"PQ. EMPRESARIAL CAMPOLLANO, AVENIDA 5ª, 11",ALBACETE,ALBACETE,2007,967264673,cai@clipes.com,NaN,Centro Privado,Centro Privado de Educación Infantil
5,JARDÍN DE INFANCIA,"CL. MIGUEL MARTINEZ, 16",CAUDETE,ALBACETE,2660,965827422,eijardindeinfancia@gmail.com,NaN,Centro Privado,Centro Privado de Educación Infantil
6,PEKEÑECOS,"CL. FERIA, 43",ALBACETE,ALBACETE,2005,967044289,escuelapequeñacos@hotmail.com,NaN,Centro Privado,Centro Privado de Educación Infantil
7,"NUEVO CERVANTES, S.C.","CL. SAN SEBASTIAN, S/N",ALBACETE,ALBACETE,2005,967217572,guardcervantes@terra.es,NaN,Centro Privado,Centro Privado de Educación Infantil
...,...,...,...,...,...,...,...,...,...,...
31730,El Tren Groc,"Carrer Teresa de Cofrents, 15 BAJO",Barcelona,BARCELONA,8042,933594378,a8061324@xtec.cat,www.eltrengroc.com,Guarderías infantiles,Guarderías infantiles
31732,Rock Palace,"Carrer Balmes, 75 BAJO",Barcelona,BARCELONA,8007,934533281,rockpalace@santjordi.org,www.santjordihostels.com,Hostal,Colegios privados
31822,Escuela Infantil El Planeta de Lulú,"Calle Chaparral, 38",Campanillas,MÁLAGA,29196,952179371,info@elplanetadelulu.es,www.elplanetadelulu.es,Guarderias infantiles,Colegio privado concertado
31845,Pequeño Jardín,"Pasaje NOGALES, 4, BAJO",Oviedo/Uviéu,ASTURIAS,33006,985230368,pequenojardin@pequenojardin.es,http://www.pequenojardin.es/,Guarderías infantiles,Centro de enseñanza
31846,Escuela Infantil Malandra,"Avenida Conde de Santa Barbara, 71",Lugones/Llugones,ASTURIAS,33420,985263083,guarderia@malandra.es,http://www.malandra.es,Guarderías infantiles,Guardería infantil

In [27]:
newdata_1.describe(include= 'all')[:4]

,Nombre,Direccion,Ciudad,Estado,Codigo postal,Telefono,Email,Sitio web,Categoria,Tipo
count,4291,4288,4291,4291,4291.0,4291,4291,2262,4291,4291
unique,3710,4199,1726,50,NaN,4291,4291,2254,13,22
top,Escuela Infantil,NO CONSTA,MADRID,VALENCIA,NaN,967410024,ampaseiquer@yahoo.es,,Centro público,Colegio de Educación Infantil y Primaria
freq,37,12,283,675,NaN,1,1,3,2958,1214

In [29]:
# Ver 
newdata_1['Codigo postal'].nunique()

2049

### Manera de Marcos

In [ ]:
print(list(map(lambda x: 'Infantil' in x or 'Primaria' in x, df['Categoria'])).count(True))

df[df['Categoria'].str.contains('Primaria|Infantil')]['Categoria']
-------------------------
asi ocger singulares y plurales

In [ ]:
lista_palabras_1 = list(work['Tipo'])
type(lista_palabras_1)
lista_palabras_2 = list(work['Categoria'])
type(lista_palabras_2)

# 3ª Forma 
# list_of_types = ['Danza', 'Múisca', 'Adultas', 'Universidades', 'Conservatorio', 'Profesional', 'Superior', 
# 'Festivales', 'Hostelería', 'Enseñanza']

# def eliminar_basura(frase):
#     if palabra in list_of_types:
#     return 

# work['Tipo']
# map(eliminar_basura, lista_palabras_1)
# map(eliminar_basura, lista_palabras_2)

In [ ]:
s = "That I ever did see. Dusty as the handle on the door"

if "%Dusty%" in s:
    print(True)
else:
    print(False)

### NO VER!! PROBLEMA DEL FUTURO

In [ ]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as  ec
from selenium.webdriver.common.by import By
import urllib3 # urllib3 es un cliente HTTP potente y fácil de usar para Python.
import re # Expresiones regulares 
import time
import pandas as pd

In [ ]:
# especificamos el path hasta nuestro driver recién descargado:
chrome_driver_path = 'chromedriver.exe'
options  = webdriver.ChromeOptions()
options.add_argument('--start-maximized')
options.add_argument('--disable-extensions')

In [ ]:
# Creamos el driver con el que nos vamos a manejar en la sesión de scrapeo:
driver = webdriver.Chrome(chrome_driver_path, chrome_options = options)

In [ ]:
# indicamos la URL de la página web a la que queremos acceder:
url = 'https://www.educacion.gob.es/centros/home.do'
# el objeto driver nos va a permitir alterar el estado del la página
driver.get(url)

In [ ]:
#Escoger 'Todo el territorio'
elements_by_tag = driver.find_elements_by_tag_name('button')
elements_by_class_name = driver.find_elements_by_class_name('listado-inicio')
element_by_xpath = driver.find_element_by_xpath('/html/body/div[2]/div[2]/form/div/fieldset/div[2]/ul/li[1]/a')
element_by_xpath.click()

In [ ]:

time.sleep(10)
element_by_xpath_1 = driver.find_element_by_xpath('/html/body/div[2]/div[2]/form/div/fieldset[1]/label[1]/div/select')
#Pulsar el boton 'Buscar
element_by_xpath_2 = driver.find_element_by_xpath('/html/body/div[2]/div[2]/form/div/div/input[4]')
element_by_xpath_2.click()

In [ ]:
driver.close()